<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>

        <title> Meraki|SafeSpots </title>
        <meta name = "viewport" content="width=device-width, initial-scale = 1.0">

        <style type="text/css">

            html{
                width:100%;
                background-color: #EFF0F2;
                font-family: Tahoma, sans-serif;
            }
            body{
                height:100%;
            }
            #wrapper {
                position: relative;
                width: 100%;
                min-height: 100%;
                padding-bottom: 40px;
                background-color: #EFF0F2;
            }
            #Meraki{
                font-weight: bold;
                font-size: 21px;
            }
            .clear{
                clear :both;
            }
            .heading{
                background-color: #17A2B8;
                color: white;
                padding:40px;
                font-size: 1.2rem;
            }
            .styling1{
                background-color: #5BD3FF;
                height: 10px;
            }
            .styling2{
                background-color: #8CFFE9;
                height: 10px;
            }
            .box{
                padding-bottom: 10px;
                margin-bottom: 40px !important;
            }
            .box-heading{
                padding: 10px;
                font-weight: 500;
                font-size:20px;
            }
            .box-hr{
                margin: 0 0 5px 0;
            }
            .box-content{
                font-size: 15px;
                padding: 10px 20px 10px 20px;
                color: #70808E;
            }
            .boxes{
                margin: 10px;
                background-color: white;
            }

        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>

        <div id="wrapper">

            <nav class = "navbar navbar-expand-sm navbar-dark bg-info">

                <a class = "navbar-brand" id = "Meraki" href = "#">Meraki</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls = "navbarNav" aria-expanded = "false" aria-label = "Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class = "collapse navbar-collapse" id = "navbarNav">
                    <ul class = "navbar-nav alignment">
                        <li class = "nav-item alignment">
                            <a class = "nav-link" href = "tAndC.html">Prediction</a>
                        </li>
                        <li class = "nav-item alignment">
                            <a class = "nav-link" href = "contactus.html">Relative Enquiry</a>
                        </li>
                        <li class = "nav-item alignment">
                            <a class = "nav-link" href = "feedback.html">Routing</a>
                        </li>
                        <li class = "nav-item alignment">
                            <a class = "nav-link" href = "feedback.html">Safe Spots</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class = "clear"></div>

            <div class="heading">
                <h1 class="text-center">
                    Safe Spots for Disasters Management
                </h1>
                <p class="text-center">
                    Place to go at first during a disaster
                </p>
            </div>
            <div class="styling1"></div>
            <div class="styling2"></div>

            <div class="col">
                <div class="row">
                    <div class="col-md-6">
                        <div class="boxes">
                            <div class="box shadow rounded boxes">
                                <div class="box-heading text-center">
                                    Find safeSpot info by safeSpot Id:
                                </div>
                                <hr class="box-hr">
                                <div class="box-content">
                                    <form>
                                        <div class="form-group">
                                            <label for="safespot-id">Safespot by Id:</label>
                                            <input type="text" class="form-control form-control-sm" id="safespot-id" placeholder="Enter safespot-id">
                                        </div>
                                    </form>
                                    <button id="safespot-single" class="btn btn-info">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="boxes">
                            <div class="box shadow rounded">
                            <div class="box-heading text-center">
                                Find safespots by state
                            </div>
                            <hr class="box-hr">
                            <div class="box-content">
                                <form>
                                    <div class="form-group">
                                        <label for="safespot-state-id">Safespot by state:</label>
                                        <input type="text" class="form-control form-control-sm" id="safespot-state-id" placeholder="Enter state id:">
                                    </div>
                                </form>
                                <button id="safespot-state" class="btn btn-info">Unubscribe</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="fill">

            </div>

        </div>


    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $("#safespot-single").click(function () {
            $("#fill").remove();
            var id = $("#safespot-id").val();
            jQuery.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                'type': 'POST',
                'url': "https://merakiicodefundo.azurewebsites.net/safespots/0",
                'data': JSON.stringify(id),
                'dataType': 'json',
                'success': function (data) {
                    fillFill(data,0);
                }
            });
        });
        $("#safespot-state").click(function () {
            $("#fill").remove();
            var id = $("#safespot-state-id").val();
            jQuery.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                'type': 'POST',
                'url': "https://merakiicodefundo.azurewebsites.net/safespots/1",
                'data': JSON.stringify(id),
                'dataType': 'json',
                'success': function (data) {
                    fillFillArray(data);
                }
            });
        });
        function fillFillArray( data ) {
            for ( i in data ){
                fillFill(data[i], i);
            }
        }
        function fillFill ( data , i ){
            var newFill = '                          <div class="form-group">\n' +
                '                                        <label for="safespot-name'+i+'">Safespot Name:</label>\n' +
                '                                        <input type="text" class="form-control form-control-sm" id="safespot-name'+i+'" value = ' +data.name+' readonly>\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group">\n' +
                '                                        <label for="safespot-capacity'+i+'">Safespot capacity:</label>\n' +
                '                                        <input type="text" class="form-control form-control-sm" id="safespot-capacity'+i+'"  value = ' +data.capacity+' readonly>\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group">\n' +
                '                                        <label for="safespot-address'+i+'">Safespot address:</label>\n' +
                '                                        <input type="text" class="form-control form-control-sm" id="safespot-address'+i+'"  value = ' +data.address+' readonly>\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group">\n' +
                '                                        <label for="safespot-contact'+i+'">Safespot contact:</label>\n' +
                '                                        <input type="text" class="form-control form-control-sm" id="safespot-contact'+i+'"  value = ' +data.contact+' readonly>\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group">\n' +
                '                                        <label for="safespot-ownership'+i+'">Safespot ownership:</label>\n' +
                '                                        <input type="text" class="form-control form-control-sm" id="safespot-ownership'+i+'"  value = ' +data.ownership+' readonly>\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group">\n' +
                '                                        <label for="safespot-details'+i+'">Safespot details:</label>\n' +
                '                                        <input type="text" class="form-control form-control-sm" id="safespot-details'+i+'"  value = ' +data.details+' readonly>\n' +
                '                                    </div>\n' +
                $("#fill").append(newFill);
        }
    </script>

</html>